<h2 id='title'>Welcome to Rupes Ember</h2>

{{link-to 'Home' 'application'}}
{{link-to 'About' 'about'}}
{{link-to 'Speakers' 'speakers'}}
{{link-to 'Filmmakers' 'filmmakers'}}
{{link-to 'Sign_up' 'sign_up'}}

{{outlet}}
